[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
bs4 = "*"
random-user-agent = "*"
fastapi = {extras = ["all"], version = "*"}
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
